:root {
    --vf-input-active:                      #4e74ff;
    --vf-input-active-disabled:             #bac7f8;
    --vf-input-error:                       #fa5c5c;
    --vf-input-white-light:                 #f6f6f6;
    --vf-input-white-dark:                  #dadada;
    --vf-input-gray-light:                  #c8c8c8;
    --vf-input-gray-dark:                   #b2b2b2;
    --vf-input-black-dark:                  #333333;
    --vf-input-black-light:                 #646363;
    --vf-input-color:                       #1c1c1c;
    --vf-input-background:                  #ffffff;
    --vf-input-background-disabled:         #e9e9e9;

    --vf-input-border-color: var(--vf-input-gray-light);
    --vf-input-border-color-focus: var(--vf-input-gray-dark);

    --vf-input-placeholder-color: var(--vf-input-gray-dark);

    --vf-input-font-size: 13.333px;
    --vf-input-border-radius: 4px;

    --vf-input-height: 35px;
    --vf-input-select-option-height:        240px;


    --vf-input-border: 1px solid var(--vf-input-border-color);
    --vf-input-border-error: 1px solid var(--vf-input-error);
    --vf-input-border-focus: 1px solid var(--vf-input-border-color-focus);
    --vf-input-label-color: var(--vf-input-black-dark);
    --vf-input-transtion-fast: 0.1s;
    --vf-input-transtion-medium: 0.3s;
}
.vf-input_clean {
    border: 0;
    outline: none;
    background-color: transparent;
    font-family: inherit;
}
.vf-grid-center {
    display: grid;
    place-content: center;
}
.vf-input-label {
    color: var(--vf-input-label-color);
    font-size: 13px;
}



.vf-arrow {
    border: solid var(--vf-input-gray-dark);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 150ms, background-color 0.2s;
}
.vf-arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.vf-arrow_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(20px);
    opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
    transition: 0.2s;
}